---
title: this is post 4
published: 2020-06-30
author: Dominik G
tags:
  - baz
  - zoink
---

<script>
let tagslist = tags.join(' ');
</script>

# {title}

<!-- excerpt:start -->

This is post4 tagged {tagslist}

<!-- excerpt:end -->

And this is not part of the excerpt
