---
title: Ümlauts are slügifyied Öh Yeäh
published: 2020-06-03
author: Dominik G
tags:
  - foo
  - baz
excerpt:
  start: '<!-- excerpt:begin -->'
  end: '<!-- this is enough -->'
---

<script>
let tagslist = tags.join(' ');
</script>

# {title}

<!-- excerpt:begin -->

This is post3 tagged {tagslist}

<!-- this is enough -->

FOOOO
