.code-highlight {
  position: relative;
  @apply font-mono text-sm shadow-md rounded;
  height: auto;
  max-height: 50vh;
  overflow-x: hidden;
  overflow-y: auto;
  margin: 1rem;
}

.code-highlight > .code-language {
  position: absolute;
  top: 0;
  right: 0;
  @apply bg-primary text-on-primary px-2;
  border-top-right-radius: 0.25rem;
  border-bottom-left-radius: 0.25rem;
  user-select: none;
}

.code-highlight > code {
  display: block;
  padding: 0.5rem;
  overflow-x: auto;
  height: auto;
  margin: 0;
}

.code-highlight > code.numbered {
  margin-left: 2rem;
  border-left: 1px solid rgba(127, 127, 127, 0.5);
  counter-reset: line;
}

.code-highlight > code > .line-of-code {
  white-space: nowrap;
  display: inline-block;
  min-height: 1em;
}

.code-highlight > code.numbered > .line-of-code:before {
  counter-increment: line;
  content: counter(line);
  position: absolute;
  left: 0;
  opacity: 0.5;
  text-align: right;
  padding-right: 0.25rem;
  width: 2rem;
}

h1 {
  margin-top: 0.5rem;
  font-size: 2rem;
  margin-bottom: 1rem;
}

h2 {
  margin: 0.5rem 0;
  font-size: 1.5rem;
}

h3 {
  margin-top: 0.25rem;
  font-size: 1.25rem;
}

p {
  padding: 0.25rem;
}
