:root {
  --color-primary: #fe4f09;
  --color-secondary: #636579;
  --color-regular: #dedede;
  --background-color-regular: #121212;
}

@media only screen and (prefers-color-scheme: dark) {
  :root {
    --color-regular: #dedede;
    --background-color-regular: #121212;
  }
  body.theme-light {
    --color-regular: #121212;
    --background-color-regular: #dedede;
  }
}

@media only screen and (prefers-color-scheme: light) {
  :root {
    --color-regular: #121212;
    --background-color-regular: #dedede;
  }
  body.theme-dark {
    --color-regular: #dedede;
    --background-color-regular: #121212;
  }
}